main {
  display: grid;
  gap: 7px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "header header  header  header  header"
  "aside  section section section section"
  "footer footer  footer  footer  footer";
  row-gap: 1;
  column-gap: 1;
  grid-template-rows: 20% 70% 10%;
  height: 98vh;
}

section {
  grid-area: section;
  border: 1px solid #a8dadc;
  background-color: #f1faee;
}

aside {
  grid-area: aside;
  border: 1px solid #a8dadc;
  background-color: #f1faee;
}

footer{
  grid-area: footer;
  border: 1px solid #a8dadc;
  background-color: #f1faee;
}

header{
  grid-area: header;
  border: 1px solid #a8dadc;
  background-color: #f1faee;
}

main{
  position: relative;
}

nav a{
  text-decoration: none;
}

nav li{
  margin-bottom: 10px;
}

.picture img{
  object-fit: cover;
  max-width: 300px;
}

/* sections */

